<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form class="form-inline" method="POST" action="{{ url_for('goodtoknow') }}">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">Please select</span>
                <select name="teamname" class="selectpicker form-control">
                    <option>---Please select a team!---</option>
                    <option value="Air Force">Air Force</option>
                    <option value="UCLA">UCLA</option>
                </select>
            </div>
            <button type="submit" class="btn btn-default">Show!</button>
        </div>
    </form>
<table>
    <thead>
    <th>teams</th>
    <th>win%</th>
    </thead>
    <tbody>
      <meta charset="UTF-8">
      {% for result in results %}
        <tr>
            <td>{{ result[0]}}</td>
            <td>{{ result[1]}}</td>
        </tr>
      {% endfor %}
    </tbody>
</table>
</body>
</html>