{#{% extends 'bootstrap/base.html' %}#}
{% extends 'base.html' %}

{% block head %}
<title>NCAA_PRO</title>
{#<link type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">#}
{% endblock %}

{% block body %}
{#<style>body{background-image: url(../static/images/gator.jpg); background-size:cover;}</style>#}
<div class="limiter">
<h1 style="text-align: center">Insights</h1>
    <div class="container-trends100">
        <div class="wrap-trends100">

            <form id="trend_form" action="/choose_trends" method="POST" enctype="multipart/form-data">
                <span class="login100-form-title p-b-26">
                    Select a topic
                </span>
                <select id="trends" name = "trends">
                    <option value="trend1">How did a team's scoring strategy change throughout the years?</option>
                    <option value="trend2">What are the teams that a team played the best against between 2005 and 2013?</option>
                    <option value="trend3">How did the attendance affect a team’s winning percentage?</option>
                    <option value="trend4">How did a player's statistics change throughout their career?</option>
                    <option value="trend5">How does time possession of the ball affect a team’s performance?</option>
                    <option value="trend6">For a particular college team, what is the winning percentage throughout the years?</option>
                    <option value="trend7">For teams and conferences, how did the players grow throughout the years?</option>
                </select>
               <input type="submit" value="Go">
             </form>

            <div class="text-center p-t-115">
                    <a class="txt2" href="/home">
                        Back Home
                    </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}